<html>
<head>
<meta charset="UTF-8">
<title> </title>
</head>
<body>
  <table class="container-for-gmail-android" align="" cellpadding="0" cellspacing="0" width="100%" >
  <tr>
    <td class="content-padding" align="center" style=("background-color: #f7f7f7;") valign="top" width="100%">
        <table class= "w320" cellpadding="0" cellspacing="0" width="600">
          <tr>
            <td>
              <%=I18n.t("emails.reset_password") %> </tr>
          <tr>
            <td align="" style="font-family:Helvetica; font-size:14px; color:#505050; width:400px; text-align:center;">
              <a href=<%= edit_shopper_password_reset_url(@shopper.reset_password_token) %> style="color:#ffffff!important;display:inline-block;font-weight:500;font-size:20px;line-height:44px;font-family:'Helvetica',Arial,sans-serif;width:auto;white-space:nowrap;height:42px;margin:12px 0;padding:5px 40px;text-decoration:none;text-align:center;border:0;border-radius:6px;vertical-align:top;background-color:#679146!important" target="_blank">
                <span style="display:inline;font-family:'Helvetica',Arial,sans-serif;text-decoration:none;font-weight:500;font-style:normal;font-size:16px;line-height:42px;border:none;background-color:none!important;color:#ffffff!important;font-weight:600;"> <%= I18n.t("emails.reset_password_button") %>
            </a>
            </tr>
            <tr>
              <td>
                <%=I18n.t("emails.request_password") %>
              </td>
            </tr>
<!-- <table width="600" border="0" align="center" cellpadding="0" cellspacing="0" style="border:solid 1px #D8D8D8;">
  <tbody>
    <tr>
      <td bgcolor="#FFFFFF"><table width="500" border="0" align="center" cellpadding="0" cellspacing="0">
        <%=I18n.t("emails.reset_password") %>
      </td>
    </tr>
    <tr>
      <td bgcolor="#FFFFFF"><table width="500" border="0" align="center" cellpadding="0" cellspacing="0">
        <%= edit_shopper_password_reset_url(@shopper.reset_password_token) %>
      </td>
    </tr>
    <tr>
      <td bgcolor="#FFFFFF"><table width="500" border="0" align="center" cellpadding="0" cellspacing="0">
        <%= I18n.t("emails.request_password") %>
      </td>
    </tr>
  </tbody>
</table> -->

</body>
</html>
