<div><%= I18n.t("emails.hello_from") %> </div>

<br>
<p>
<%= I18n.t("emails.substitution", substitution_url: @substitution_url) %>
</p>
<div>
<%= I18n.t("wallet.feedback_questions") %>
</div>
<br> <br>
<div>
<%=I18n.t("emails.regards")  %>
</div>
<div>
<%=I18n.t("emails.grocer_team")%>
</div>
