<!DOCTYPE html>
<html>
<head>
  <title>Elgrocer</title>
  <%= stylesheet_link_tag  'reset_password', 'main', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body id='reset_password'>
<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">
        <%= image_tag 'splash_logo.png', size:"145x31", alt:''%>
      </a>
    </div>
  </div>
</nav>
<%= yield %>

</body>
</html>
